<div class="container_big-card">
    <div class="big-card_foto">
        <img 
            src="{{ fotoCapa }}"
            alt=""
            height="250px"
            class="src"
        >
    </div>
    <div class="big-card_titulo">
        <h1><a [routerLink]="['conteudo', id]">{{ tituloCard }}</a></h1>
    </div>
    <div class="big-card_descricao">
        <p>
            <a [routerLink]="['conteudo', id]">
                {{ descricaoCard }}
            </a>
        </p>
    </div>
</div>